<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Notion internal integration example" />

    <title>Notion integration demo</title>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1 class="center">Create Recurring Tasks in Notion</h1>
    </header>
    <main class="container">
      <div class="row">
        <div class = "col s9">
          <form id="recurrenceForm">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="32 character ID" id="task_id" type="text" class="validate">
              <label for="task_id">Parent Task</label>
            </div>
            <div class="input-field col s6">
              <select id="recurrence_type">
                <option value="Daily">Daily</option>
                <option value="Custom">Custom</option>
              </select>
              <label>Recurrence Interval</label>
            </div>
          </div>
          <div id="select_days" class="row hide">
            <div class="input-field col s12">
              <select id="day_selection" multiple>
                <option value="0">Every Sunday</option>
                <option value="1">Every Monday</option>
                <option value="2">Every Tuesday</option>
                <option value="3">Every Wednesday</option>
                <option value="4">Every Thursday</option>
                <option value="5">Every Friday</option>
                <option value="6">Every Saturday</option>
              </select>
              <label>Recurrence Days</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="start_time" type="text" class="validate">
              <label for="start_time">Start Time</label>
            </div>
            <div class="input-field col s6">
              <input id="end_time" type="text" class="validate">
              <label for="end_time">End Time</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="start_date" class="datepicker" type="text" class="validate">
              <label for="start_date">Start Date</label>
            </div>
            <div class="input-field col s6">
              <input id="end_date" class="datepicker" type="text" class="validate">
              <label for="end_date">End Date</label>
            </div>
          </div>
          <div id="reminders" class="row">
            <button class="btn waves-effect waves-light" type = "button" id="addReminder">Add reminder</button>
              
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
          </form>
        </div>
        <div class = "col s3">
          <div id="loading" class="preloader-wrapper big active hide">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <p id="results"></p>
        </div>
      </div>
    </main>
  </body>
</html>
